<h1>Resources</h1>
<ul>
  <% resources.each do |r| %>
    <li><a href='<%= "/#{r.to_s}" %>'><%= r.to_s %></a></li>
  <% end %>
</ul>
<a href="/add">Add a object</a><br>
<a href="/add_list">Add a list</a>
